@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::selection {
    color: #FAF9F7;
    background-color: #ADA089;
}

p {
    word-spacing: 2px;
}



/* footer */
footer {
    background-color: #CCDEE3;
}

.linksInFooter {
    color: #ADA49A;
}

.linksInFooter:hover {
    color: #FAF9F7;
}



/* headerBackground */
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}


.headerForBackground{
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background, .foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.background {
    transform: translateZ(-10px) scale(2);
    right: 10px;
}

.foreground {
    transform: translateZ(-5px) scale(1.5);
    right: 6px;
}




/* navigation bar */
.logo {
    color: #B5A280;
    /* color: #A68444; */
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
}

.logo:hover {
    /* color: #F2C97C; */
    color: #A68444;
}

.navigationLinks{
    border-radius: 20px;
    color: white;
    font-weight: 300;
}

.navigationLinks:hover {
    background-color: white;
    color: #A68444;
}

.careerOptionsDropdown:hover {
    color: #A68444;
}



/* homepage */

.introduction {
    padding-top: 290px;
}

.introduction-text{
    font-size: 3rem;
    text-shadow: 0 0 5px black;
}

.exploreMeButton {
    color: #9E7D3A;
}

.exploreMeButton:hover {
    color: #2B3B4F;
    background-color: #9E7D3A;
}

.aboutMeHeading {
    font-weight: 610;
    color: #ADA089;
}

.imagesNextToText {
    border-radius: 25px;
    filter: drop-shadow(8px 8px 10px black);
    width: 100%;
    padding: 14px;
}

.sixteenPersonalities {
    color: #CCD2E3;
}

.sixteenPersonalities:hover{
    color: #E4E3FD;
}

.borderForAboutMeContent {
    border: 2px solid #ADA089;
    border-radius: 25px;
}

.whatOtherSayCardImg {
    width: 69%;
}




/* experience */
.experienceHeaderText {
    margin-top: 320px;
    flex-direction: column;
}

.experienceHeaderText h1 {
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 0 0 10px black;
    /* shadows added so that the texts are more visible and do not blend in with the background */
    
}

.experienceHeaderText h6 {
    text-shadow: 0 0 10px black;
}

.experienceHeaderText h6 a {
    color:  white;
}

.experienceHeaderText h6 a:hover {
    color: #A82F13;
}

.headingForTexts {
    font-weight: 610;
    color: #ADA089;
}

.coursesOfferedBySOCBorder {
    border: 2px dashed #ADA089;
}

.arrowDownForCoursesOfferedBySOC {
    color: #212529;
}

.arrowDownForCoursesOfferedBySOC:hover {
    color: #CCDEE3;
}

.coursesOfferedCard {
    width: 600px;
}




/* coursesOffered */
.careerOptionsHeaderText {
    margin-top: 320px;
}

.careerOptionsHeaderText {
    flex-direction: column;
}

.careerOptionsHeaderText h1 {
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 0 0 10px black;    
}

.careerOptionsHeaderText h6 {
    text-shadow: 0 0 10px black;
}

.careerOptionsHeaderText h6 a {
    color:  white;
}

.careerOptionsHeaderText h6 a:hover {
    color: #A15D0D;
}

.arrowDownForCareerOptions {
    color: #212529;
}

.arrowDownForCareerOptions:hover {
    color: #CCDEE3;
}

.careersIPursue {
    margin-top: 250px;
}

.careersBorder {
    border: 2px dashed #E4E3FD;
}

.careersCard {
    width: 600px;
}

.careerImg {
    width: 100%;
}




/* feedback */
.feedbackHeader{
    background-image: url("../images/feedback/silhouette_of_trees_on_an_afterglow.jpg");
    height: 800px;
    overflow-x: hidden;
}

.feedbackHeaderText {
    margin-top: 300px;
}

.feedbackHeaderText h1 {
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 0 0 10px black;    
}

.feedbackHeaderText h6 {
    text-shadow: 0 0 10px black;
}

.feedbackHeaderText h6 a {
    color:  white;
}

.feedbackHeaderText h6 a:hover {
    color: #556E49;
}

/* making the error message more noticable */
.error {          
    width  : 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }
  
  
