@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::selection {
    color: #B5A280;
    background-color: rgba(255, 255, 255, 0.25);
}




/* navigation bar */
.logo {
    color: #B5A280;
    /* color: #A68444; */
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
}

.logo:hover {
    /* color: #F2C97C; */
    color: #A68444;
}

.navigationLinks{
    border-radius: 20px;
    color: white;
    font-weight: 300;
}

.navigationLinks:hover {
    background-color: white;
    color: #A68444;
}

.careerOptionsDropdown:hover {
    color: #A68444;
}



/* homepage */

.introduction {
    padding-top: 290px;
}

.introduction-text{
    font-size: 3rem;
    text-shadow: 0 0 5px black;
}

.exploreMeButton {
    color: #9E7D3A;
}

.exploreMeButton:hover {
    color: #2B3B4F;
    background-color: #9E7D3A;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.headerForHomepage {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}


.background, .foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.background {
    transform: translateZ(-10px) scale(2);
    right: 10px;
}

.foreground {
    transform: translateZ(-5px) scale(1.5);
    right: 6px;
}

.aboutMeContent {
    padding: 2rem;
}
